<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Joe's  ChatBot </h2> Start chatting by clicking on "How can we help?" bottom right corner.<P>Here are a few things this bot understands</P>
<UL><li>Hi</li><li>Are you real</li><li>I Like This</li><li>Bot</li></UL></body>
</html>
