<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>SmoochBot Demo</h2>
</body>
</html>