<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Hi! I am Sujit.Caht with me from bottom right panel to know about me.</h2>
</body>
</html>
